<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新华久久贷, 一心一亿</title>
<link href="/Images/favicon.ico" rel="shortcut icon" />
<meta name="description" content="久久贷成交量一个亿" />
<meta name="keywords" content="久久贷成交量一个亿" />
<link href="/Css/comment.css" type="text/css" rel="stylesheet" />
<link href="/Css/c-style.css" type="text/css" rel="stylesheet" />
<link href="/Css/onehundredmillion.css" type="text/css" rel="stylesheet" />

</head>
<body>
$screen_placeholder
</body>
</html>