<!--首页头部-->
<nav id="nav" class="nav">
    <a class="navbar-brand nabar_color"  href="/index/Index"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
    <div class="clearfix index_suo text-center"><span>风险提示</span> </div>
</nav>	
<!--首页头部 end-->
<!--content-->
<div class="container-fluid bg_white mt10" style="overflow-x:hidden">
<div class="riskhints_content">
<p class="title">风险提示</p>
   <p class="paragraph">安徽新华金融信息服务有限公司(以下简称"新华金融信息")通过其运营管理的互联网金融平台新华久久贷 (域名为www.xh99d.com)（包括但不限于网站、APP客户端等）向出借人和借款人提供网络借贷信息中介服务。新华久久贷向各位会员（包括出借人及借款人）提示以下内容及风险，敬请谨慎决策与投资。</p>
   <p class="spant"> 一、 原则提示</p>
   <p style="font-weight:bold;">1、平台性质</p>
   <p>根据《网络借贷信息中介机构业务活动管理暂行办法》（银监会令[2016]1号）相关规定，新华久久贷平台是专门从事网络借贷信息中介业务活动的金融信息机构，主要为借款人与出借人实现直接借贷提供信息搜集、信息公布、借贷撮合等服务，不提供增信服务，不设立资金池，不进行非法集资，不损害国家利益和社会公共利益等。</p>
   <p style="font-weight:bold;">2、借贷双方自愿原则</p>
   <p>出借人与借款人双方按照"借贷自愿、诚实守信、责任自负、风险自担"的原则承担借贷风险。</p>
   <p style="font-weight:bold;"> 3、资金合法</p>
   <p>出借人提供的出借资金是通过合法获取的，并有权使用、处分及收益；借款人合法使用所借贷的资金，不得用于非法目的和非法用途，否则借贷双方自行负责。</p>
    <p style="font-weight:bold;"> 4、信息披露</p>
   <p>新华久久贷作为交易服务平台进行信息发布，不对任何会员或任何交易事项提供任何明示或默示的担保。投资人应依据新华久久贷平台发布的信息及资料独立判断并做出决策，产生的投资风险由投资人自行承担，交易平台不承担任何责任。</p>
   <p class="spant">二、 风险提示</p>
   <p style="font-weight:bold;"> 1、政策风险    </p>
   <p>有关法律、法规及相关政策、规则发生变化，导致会员可能遭受损失的风险。</p>
   <p style="font-weight:bold;"> 2、市场风险</p>
   <p>由于市场供求关系、利率变动、资产价值波动等不确定的未来市场变化，导致会员可能遭受损失的风险。 </p>
   <p style="font-weight:bold;">3、借款人违约风险</p>
   <p>平台的产品属于借贷业务，出借人应当认识到借款人短期或者长期丧失还款能力（包括但不限于借款人、担保人或其它交易方的收入情况、财产状况发生变化、人身出现意外、发生疾病、死亡等情况）发生变化，或者借款人、担保人（如有）及其它交易方的还款意愿发生变化时，该等情况在最坏情况下可能导致违约情形的出现，出借人需自行承担由此可能导致的违约风险。 </p>
   <p style="font-weight:bold;">4、流动性风险 </p>
   <p>会员通过新华久久贷平台进行债权转让的，新华久久贷不对债权转让完成的时间以及债权转让能否全部成功实现做出任何承诺，债权未成功转让的，会员自行承担资金不能变现或者丧失其他投资机会等风险。 </p>
   <p style="font-weight:bold;">5、技术风险</p>
   <p>由于互联网技术的特性，存在因无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障、网络故障、网络黑客和计算机病毒攻击及其它因素，导致交易系统非正常运行，使会员的交易指令出现延迟、中断、数据错误等情况。 </p>
   <p style="font-weight:bold;">6、会员自身过错产生的风险    </p>
   <p>因会员过错可能导致自身损失，包括但不限于：决策失误、操作不当、遗忘密码、泄露密码或密码被他人破解、会员使用的计算机系统被第三方侵入、会员委托他人代理交易时他人恶意或不当操作而造成的损失，由会员自行承担。</p>
   <p style="font-weight:bold;"> 7、不可抗力风险</p>
   <p>发生自然灾害、战争、恐怖袭击或其他无法控制的事件，导致会员可能遭受损失的风险。
    </p>
   <p>&nbsp;</p>
   <p>以上内容请新华久久贷会员在参与借贷业务前详细认真阅读，并认真阅读平台相关规则及法律文件等，在充分了解并清楚知晓网络借贷相关法律规定、行业风险的基础上，自行判断是否具备相应的风险承受能力，自主参与交易，并自愿承担相关风险。</p>
   <p>&nbsp;</p>
   <p class="spant"> ※ 以上内容并不能揭示"网贷行业"的全部风险及市场的全部情形。</p>
   <p>本《风险提示书》的最终解释权归新华久久贷平台所有。 </p>
</div>
<div class="riskhints_content" style="margin-top:20px;">
<p class="title">网络借贷信息中介机构禁止性行为揭示书</p>
<p class="paragraph">根据《网络借贷信息中介机构业务活动管理暂行办法》及相关法律法规，网络借贷信息中介机构不得从事或者接受委托从事下列活动：</p>
<p>（一）为自身或变相为自身融资；</p>
<p>（二）直接或间接接受、归集出借人的资金；</p>
<p>（三）直接或变相向出借人提供担保或者承诺保本保息；</p>
<p>（四）自行或委托、授权第三方在互联网、固定电话、移动电话等电子渠道以外的物理场所进行宣传或推介融资项目；</p>
<p>（五）发放贷款，但法律法规另有规定的除外；</p>
<p>（六）将融资项目的期限进行拆分；</p>
<p>（七）自行发售金融产品募集资金，代销银行、券商资管、基金、保险或信托产品等金融产品；</p>
<p>（八）开展类资产证券化业务或实现以打包资产、证券化资产、信托资产、基金份额等形式的债权转让行为；</p>
<p>（九）除法律法规和网络借贷有关监管规定允许外，与其他机构投资、代理销售、经纪等业务进行任何形式的混合、捆绑、代理；</p>
<p>（十）虚构、夸大融资项目的真实性、收益前景，隐瞒融资项目的瑕疵及风险，以歧义性语言或其他欺骗性手段等进行虚假片面宣传或促销等，捏造、散布虚假信息或不完整信息损害他人商业信誉，误导出借人或借款人；</p>
<p>（十一）向借款用途为投资股票、场外配资、期货合约、结构化产品及其他衍生品等高风险的融资提供信息中介服务；</p>
<p>（十二）从事股权众筹等业务；</p>
<p>（十三）法律法规、网络借贷有关监管规定禁止的其他活动。</p>
</div>
<div class="riskhints_content" style="margin-top:20px; margin-bottom:20px;">
<p class="title">纠纷解决途径</p>
<p>1、发生下列情形之一的，视为借款人违约：  </p>
<p>（1）借款人未按照约定偿还本合同项下借款本息及其他应付款项，或未履行本合同项下任何其他义务，或违背在本合同项下的陈述、保证或承诺的；</p>
<p> （2）本合同项下担保发生了不利于出借人债权的变化，借款人未另行提供出借人认可的其他担保的；  </p>
<p>（3）借款人任何其他债务在到期（包括被宣布提前到期）后未能清偿，或者不履行或违反在其他协议项下的义务，已经或可能影响到其在本合同项下义务的履行的；</p>
<p> （4）借款人的盈利能力、偿债能力、营运能力和现金流量等财务指标突破约定标准，或发生恶化已经或可能影响到其在本合同项下义务的履行的；  </p>
<p>（5）借款人股权结构、生产经营、对外投资等发生重大不利变化，已经或可能影响到其在本合同项下义务的履行的；</p>
<p> （6）借款人涉及或可能涉及重大经济纠纷、诉讼、仲裁，或资产被查封、扣押或被强行执行，或被司法机关或行政机关依法立案查处或依法采取处罚措施，或因违反国家有关规定或政策被媒体曝光，已经或可能影响到其在本合同项下义务的履行的；</p>
<p> （7）借款人主要投资者个人、关键管理人员异常变动、失踪或被司法机关依法调查或限制人身自由，已经或可能影响到其在本合同项下义务的履行的；  </p>
<p>（8）借款人利用与关联方之间的虚假合同，利用无实际交易背景的交易套取出借人资金或授信，或通过关联交易有意逃废出借人债权的；</p>
<p> （9）借款人已经或可能歇业、解散、清算、停业整顿、被吊销营业执照、被撤销或申请（被申请）破产；  </p>
<p>（10）借款人因违反食品安全、安全生产、环境保护及其他环境和社会风险管理相关法律法规、监管规定或行业标准而造成责任事故、重大环境和社会风险事件，已经或可能影响到其在本合同项下义务的履行的；</p>
<p> （11）如本合同项下借款系以信用方式发放，借款人的信用等级、盈利水平、资产负债率、经营活动现金净流量等指标不符合出借人信用贷款条件的；或借款人未经出借人书面同意，以其有效经营资产向他人设定抵/质押担保或对外提供保证担保，已经或可能影响到其在本合同项下义务的履行；  </p>
<p>（12）若借款人为自然人，借款人因被羁押、刑事拘留、劳动教养等被限制人身自由，对其偿债能力产生不利影响；</p>
<p>（13）若借款人为自然人，借款人死亡或被宣告死亡、失踪或被宣告失踪，或者成为限制民事行为能力人或丧失民事行为能力，而无继承人、受遗赠人、监护人或财产代管人，或其继承人、受遗赠人、监护人或财产代管人拒绝代借款人履行本合同项下义务的； </p>
<p>（14）可能导致出借人在本合同项下债权的实现受到不利影响的其他情形。</p>
<p> 2、 借款人违约，出借人或新华久久贷有权采取下列一项或多项措施 ：</p>
<p>（1）要求借款人限期纠正违约行为；  </p>
<p>（2）宣布本合同项下未偿还的借款立即到期，立即收回未偿还款项；  </p>
<p>（3）要求借款人赔偿因其违约给出借人和新华久久贷造成的损失；  </p>
<p>（4）法律法规规定、本合同约定或出借人认为必要的其他措施。</p>
<p> 3、借款到期（含被宣布立即到期）借款人未按约偿还的，出借人有权自逾期之日起按本合同约定的逾期罚息利率计收罚息。</p>
<p> 4、借款人未按本合同约定用途使用借款的，出借人有权自借款被挪用之日起，对挪用部分按本合同约定的挪用借款罚息利率计收罚息。</p>
<p> 5、借款人未按期偿还借款本金、利息（包括罚息）或其他应付款项的，出借人或新华久久贷有权通过媒体进行公告催收。</p>
<p>6、借款人的关联方与借款人之间的控制或被控制关系发生变化，或借款人的关联方发生上述第1条中除第（1）、（2）两项之外的其他情形，已经或可能影响到借款人在借款合同项下义务的履行的，出借人有权采取借款合同中约定的各项措施。  </p>
<p>7、新华久久贷保留将借款人违约失信的相关信息向监管机构、合法的第三方征信机构及媒体等机构披露的权利。 </p>
</div>
</div>
<!--content end-->
