<div align="center" style="display:none">
<form accept-charset="GBK" id="form1"  name="form1" action="$!{SubmitURL}" method="post" onsubmit="document.charset='GBK'">
#foreach($param in ${paramMap.entrySet()})   
		${param.key}:<input type="text" name="${param.key}" value='${param.value}'/><br/>
	#end
</form>
<input type="button" onclick="submitBank();" value="提交"/>
</div>
<script type="text/javascript">
window.onload=function(){document.form1.submit();}
function submitBank(){
document.form1.submit();
}
</script>