@charset "utf-8";
ul li{list-style: none;}
img {width: 100%;}
.c-gsjj-box {margin-bottom: 30px; margin: 0 auto;}
.c-ggjj-con {line-height: 24px;font-size: 13px;}
.c-gsjj-title {border-bottom: 1px solid #dbdbdb;margin-bottom: 15px;}
.c-gsjj-tcon {font-size: 16px;line-height: 42px;border-bottom: 2px solid #2a88d8;width: 120px;text-align: center;color: #000;}
.aboutUs-main-Main-six-twoTable {
    border-collapse: collapse;
    text-align: center;
    text-align: center;
    width: 100%;
}
.BG-origin {
    background: #ffefe5;
}
.tableTwo-Th, .tableThree-Th {
    border: 1px solid #e5e5e5;
    border-top: 3px solid #ff6000;
    height: 50px;
    color: #ff6200;
    width: 240px;
    font-weight: bold;
}
.c-gltd-bg {
    background: url(/images/c-gltd-bg.png) left top no-repeat;
    margin-bottom: 50px;
    width: 100%;
}
.c-gltd-img {
    width: 30%;
    /* height: 97px; */
}
.fl {
    float: left;
     display: inline; 
}
.c-gltd-box {
    width: 70%;
}
.fr {
    float: right;
     display: inline; 
}
.c-gltd-top {
    padding-bottom: 5px;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 5px;
}
.c-gltd-name {
    font-weight: bold;
    color: #000;
    margin-right: 30px;
    margin-left: 20px;
}
.c-gltd-info {
    line-height: 24px;
    margin-left: 25px;
    margin-right: 10px;
}
.annual-reports-num {
	/* width:100%; */
    padding-bottom: 20px;
    border-bottom: 1px dashed #ff4903;
}
h1.jumbo1 {
    font-size: 22px;
    margin: 10px 30px 10px 10px;
    color: #0ca9f6;
}
h1.jumbo2 {
    font-size: 22px;
    margin: 10px 30px 10px 10px;
    color: #ff6756;
}
h1.jumbo3 {
    font-size: 22px;
    margin: 10px 30px 10px 10px;
    color: #008c10;
}
.infomation_content {
    float: left;
    margin: 0 auto;
    line-height: 40px;
    font-size: 16px;
    width: 100%;
}
.infomation_content li {
    float: left;
    margin: 5px 0 0 10px;
    width: 100%;
}
.riskManagement_titlebg {
    width: 30%;
    height: 40px;
    line-height: 40px;
    background-color: #2a9fcb;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    float: left;
}
.riskManagement_explain {
    width: 60%;
}
.riskManagement_pic {
    margin: 2px 0 3px 28px;
    float: left;
}
.c-gfgg {
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 30px;
    line-height: 24px;
}
.c-gfgg-title {
    margin-bottom: 15px;
}
.c-gfgg-box {
     padding: 5px 5px;
}
.c-acon-title {
    font-size: 18px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.article-content table{width:100%;}
/* 大事记 */
.timelineContainer {
    border-left: 2px solid #ccc;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.timelineMajor h2 {
    background: url(/images/inc/timeline_century_tick.gif) left center no-repeat;
    font-family: "微软雅黑", "宋体";
    cursor: pointer;
    font-size: 2em;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 4px 4px 4px 20px;
}
.timelineMajor h2 span {
    background: #2a88d8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    letter-spacing: .1em;
    line-height: 1.7em;
    padding: 3px 5px 1px;
}
div.timelineMajor {
    clear: left;
    margin: 0 0 12px;
} 
dl.timelineMinor {
    clear: left;
    margin: 0 12px 0 0;
    padding: 4px 4px 4px 0;
    position: relative;
    width: 100%;
}
.timelineMinor dt {
    background: url(/images/inc/timeline_decade_tick.gif) left center no-repeat;
    font-size: 1.2em;
    list-style-type: none;
    line-height: 1.2em;
    margin: 0 0 12px;
    padding: 0 0 0 24px;
}
.infomation_title {
    font-size: 22px;
    color: #2a88d8;
}
.aboutUs-main-Main-six-oneTable {
    border-collapse: collapse;
    text-align: center;
}
/* 合规进度 */
.infomation_titlex {
    font-size: 16px;
    color: #000;
}
.BG-blue {
    background: #e5f3fb;
}
.tablethree-Th {
    border: 1px solid #e5e5e5;
    border-top: 3px solid #008cd6;
    height: 48px;
    color: #008cd6;
    font-size: 16px;
    font-weight: bold;
}
.tablethree-Td1 {
    border: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    color: #555555;
}
.tablethree-Td2 {
    border: 1px solid #e5e5e5;
    height: 30px;
    color: #555555;
    text-align: left;
    padding: 10px;
}
.tablethree-Td {
    border: 1px solid #e5e5e5;
    height: 30px;
    color: #555555;
    padding: 5px;
    text-align: left;
}
/*信息披露*/
.tableOne-Th {
    border: 1px solid #e5e5e5;
    border-top: 3px solid #008cd6;
    height: 48px;
    color: #008cd6;
    font-size: 16px;
    font-weight: bold;
}
.tableOne-Td1 {
    border: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    color: #555555;
}
.tableOne-Td2 {
    border: 1px solid #e5e5e5;
    height: 30px;
    color: #555555;
    width: 100px;
    text-align: left;
    padding: 10px;
}
.tableOne-Td {
    border: 1px solid #e5e5e5;
    height: 30px;
    color: #555555;
    padding: 5px;
    text-align: left;
}
.BG-blue2 {
    background: #f2f9fd;
}
.tableTwo-Td1 {
    border: 1px solid #e5e5e5;
    height: 48px;
    color: #555555;
    font-weight: bold;
}
.tableTwo-Td2 {
    border: 1px solid #e5e5e5;
    height: 40px;
    color: #555555;
    text-align: left;
    padding: 10px;
    width: 50%;
}
.tableTwo-Td, .tableThree-Td {
    border: 1px solid #e5e5e5;
    height: 50px;
    color: #555555;
    text-align: left;
    padding: 10px;
}
.cw-h2 {
    color: #555555;
}
.cwInf-pic ul li {
    float: left;
    height: 200px;
    width: 360px;
    margin-top: 10px;
    line-height: 20px;
    margin: 10px 20px 0 0;
}