<!--left-->
    	<div class="fl c-sub-left">
            <ul>
                <li><a class="$companyIntroduction" href="/infomation/companyIntroduction">平台介绍</a></li>
                <li><a class="$regulations" href="/infomation/regulations">政策法规</a></li>
                <li><a class="$riskeducation"	href="/infomation/riskeducation">风险教育</a></li>
				<li><a class="$operReport"	href="/infomation/operReport">运营数据</a></li>
				<li><a class="$riskManagement"	href="/infomation/riskManagement">风控信息</a></li>
                <li><a class="$bigEvents" href="/infomation/bigevents">大事记</a></li>
                <li><a class="$postage" href="/infomation/postage">资费及违约</a></li>
                <li><a class="$disclosure"	href="/infomation/disclosure">信息披露</a></li>
            </ul>
        </div>
        
<!-- leftEnd -->

