<!--content-->
<script>
	//禁止父页面滚动条滚动
	var top = $(parent.document).scrollTop();
 
    $(parent.document).on('scroll.unable',function (e) {
 
        $(parent.document).scrollTop(top);
 
    });
    $(function(){
    	var windWidth = document.body.offsetWidth*0.9;
    	$("#riskhints").css("width",windWidth);
    });
</script>
<div class="w1000 clearfloat" id="riskhints" style="overflow:hidden;">
	<div class="riskhints_content" style="margin-top:20px;overflow-x:auto;word-wrap:break-word;">
	   <p class="title">网络借贷风险和禁止性行为提示书</p>
	   <p class="spant">一、出借人网络借贷风险提示：在您通过新华久久贷平台进行资金出借的过程中，也许会面临以下可能导致您出借资金及收益受损的各种风险。请您在进行资金出借前仔细阅读以下内容，了解融资项目风险，确保自身具备相应的投资风险意识、风险认知能力、风险识别能力和风险承受能力，拥有非保本类金融产品投资的经历并熟悉互联网，并请您根据自身的风险承受能力选择是否出借资金及出借资金的数额。</p>
	   <p>1. 法律及监管风险：因许多法律和法规相对较新且可能发生变化，相关官方解释和执行可能存在较大不确定性等因素引起的风险。有些新制定的法律、法规或修正案的生效可能被延迟；有些新颁布或生效的法律法规可能具有追溯力从而对您的投资利益造成不利影响；</p>
	   <p>2. 政策风险：因国家宏观政策、财政政策、货币政策、监管导向、行业政策、地区发展政策等因素引起的风险；</p>
	   <p>3. 市场风险：因市场资金面紧张或利率波动、行业不景气、企业效益下滑等因素引起的风险；</p>
	   <p>4. 借款人信用风险：针对平台上的债权，新华久久贷仅在债权形成前对借款人的借款需求及相关信息进行必要审核，但是新华久久贷不对借款人的还款能力做出任何明示或默示的担保或保证，并且如果发生债权转让，新华久久贷不会在债权转让时再次对借款人进行信用审核，您受让的债权可能在其受让前已经存在逾期情况。当借款人因收入情况、财产状况发生变化、人身出现意外、发生疾病、死亡等情况，短期或者长期丧失还款能力，或者借款人的还款意愿发生变化时，您的出借资金可能无法按时回收甚至无法回收，您的预期收益可能无法实现。新华久久贷没有义务对逾期的本息以及费用进行垫付或未经委托对借款人进行追索；</p>
	   <p>5. 资金流动性风险：针对您的出借本金或者回款再出借资金，新华久久贷会根据网络借贷相关协议约定积极协助您寻找、推荐借款人，以完成资金出借、获取收益之目的，但新华久久贷寻找、推荐借款人的时间存在一定不确定性。同时，新华久久贷将根据网络借贷相关协议约定在您提出需要时，努力帮助您寻找、向您推荐愿意受让债权的第三方，以完成您的债权转让，但新华久久贷不对债权转让的实现以及实现时间做出任何承诺和保证；</p>
	   <p>6. 技术风险：由于无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障、网络故障、黑客或计算机病毒攻击、以及其它因素，可能导致平台出现非正常运行或者瘫痪，由此导致您无法及时进行查询、充值、出借、提现等操作； </p>
	   <p>7. 不可抗力风险：由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致您出借资金损失的风险。</p>
	   <p class="spant">二、借款人网络借贷风险提示：在您通过新华久久贷平台进行借款过程中，也许会面临以下风险。请您在决定通过新华久久贷平台进行借款前，通过平台相关页面（包括但不限于服务协议、收费规则、借款协议、使用条款、提示书）仔细阅读并充分了解可能面临风险，该等风险可能包括但不限于： </p>
	   <p>（1）因逾期还款、未按本协议约定用途使用借款等违约行为需要承担违约责任，可能遭受甲方、相关权利人追索债务、追偿催收、申请诉讼或仲裁等法律风险，且借款人身份信息和财产信息、联系方式等将会依法披露给相关司法机关或征信机构； </p>
	   <p>（2）借款人申请的借款可能遭遇不可抗力及意外事件风险：诸如因战争、自然灾害、重大政治事件、有关法律、法规及相关政策发生变化等不可抗力以及其他不可预见的意外事件可能致使相关交易面临停止的任何风险；</p>
	   <p>（3）网贷平台仅提供居间服务，并不承诺借款人成功获得借款。因此面临可能无法借款成功的风险； </p>
	   <p>（4）借款人应审慎评估自身还款能力和资金收入来源、财产收入情况，充分考虑借款合同项下的债务承担资金总额，如过度举债或者多头借贷，将存在陷入繁重债务或破产等境地的风险； </p>
	   <p>（5）其他可能的风险。</p>
	   <p class="spant">三、网络借贷禁止性行为提示：新华久久贷平台作为网络借贷信息中介平台，将严格依据《网络借贷信息中介机构业务活动管理暂行办法》的规定，不予从事或者接受委托从事下列活动，请您知悉并共同进行监督：</p>
	   <p>1. 为自身或变相为自身融资；</p>
	   <p>2. 直接或间接接受、归集出借人的资金；</p>
	   <p>3. 直接或变相向出借人提供担保或者承诺保本保息；</p>
	   <p>4. 自行或委托、授权第三方在互联网、固定电话、移动电话等电子渠道以外的物理场所进行宣传或推介融资项目；</p>
	   <p>5. 发放贷款，但法律法规另有规定的除外；</p>
	   <p>6. 将融资项目的期限进行拆分；</p>
	   <p>7. 自行发售理财等金融产品募集资金，代销银行理财、券商资管、基金、保险或信托产品等金融产品；</p>
	   <p>8. 开展类资产证券化业务或实现以打包资产、证券化资产、信托资产、基金份额等形式的债权转让行为；</p>
	   <p>9. 除法律法规和网络借贷有关监管规定允许外，与其他机构投资、代理销售、经纪等业务进行任何形式的混合、捆绑、代理；</p>
	   <p>10. 虚构、夸大融资项目的真实性、收益前景，隐瞒融资项目的瑕疵及风险，以歧义性语言或其他欺骗性手段等进行虚假片面宣传或促销等，捏造、散布虚假信息或不完整信息损害他人商业信誉，误导出借人或借款人；</p>
	   <p>11. 向借款用途为投资股票、场外配资、期货合约、结构化产品及其他衍生品等高风险的融资提供信息中介服务；</p>
	   <p>12. 从事股权众筹等业务。</p>
	   <p class="spant">四、关于借款人借款逾期处理的提示：借款人应按《借款合同》等相关合同约定以及平台业务规则规定，履行还款义务，如未能按期足额的偿还借款本息，逾期后，借款人将会承担以下逾期处理结果：</p>
	   <p>1、按照《借款合同》等约定支付逾期罚息；</p>
	   <p>2、逾期后，催收人员将采取上门送达、邮寄、电话、手机短信等方式通知还款事项，并告知需承担的违约责任；</p>
	   <p>3、按照有关法律规定，起诉借款人及担保人，通过诉讼方式进行催收；</p>
	   <p>4、其他合法合规催收措施。</p>
	</div>
	<div align="center" style="margin-top:20px;margin-bottom:20px"><input name="butongyi" type="button" value="我已了解" onclick="ty();" style="width:130px;height:40px; background-color:#01afec; border-radius:5px; border:none;font-size:16px; color:#fff; "></div>
</div>
<!--content end-->
<script>
	function ty(){
		parent.setWindName('index_name');//子页面调用父页面函数
    	$(parent.document).unbind("scroll.unable");//解除父页面滚动条滚动
	    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引 
		parent.layer.close(index);//关闭弹出的子页面窗口
	}
</script>