<div id="layout">
    <div region="center" title="项目投资明细表" iconcls="icon-users" class="regionCenter">
    <div class="SearchForm" id="SearchForm">
        <form id="searchForm1">
            <fieldset>
                <legend class="ml10">信息查询</legend>
                 <div class="clearfloat search-wrap">
<!--                         <ul class="fl search-width"> -->
<!--                             <li> -->
<!--                                 <span>真实姓名：</span> -->
<!--                                 <span> -->
<!--                                     <input type="text" name="name" class="text-input ipt-w80" /></span> -->
<!--                             </li> -->
                              
<!--                         </ul> -->
                        <ul class="fl search-width">
                            <li>
                                <span>项目名称：</span>
                                <span>
                                    <input type="text" id="loan_no" name="loan_no" class="text-input ipt-w80" /></span>
                            </li>
							<li>
	                            <span>投资时间：</span>
	                            <span>
	                                <input type="text" class="text-input easyui-datetimebox w100"  name="startInvestDate" id="startInvestDate"/>
	                             	   至
	                                <input type="text" class="text-input easyui-datetimebox w100" name="endInvestDate"  id="endInvestDate" />
	                            </span>
	                        </li>                              
                        </ul>
                        <input type="hidden" id="rows">
                        <input type="hidden" id="page">
                        <div class="fl search-div">
                            <a id='search' class="btns btns-primary wheight SearchHide" href="#">搜索</a>
                        </div>
                    </div>
            </fieldset>
        </form>
    </div> 
    <div id="toolbar">
       $control.setTemplate("common/showButton.vm")
    </div>
    <table id="reportGrid" toolbar="#toolbar"></table>
</div>
</div>

<script type="text/javascript" src="/Js/reportAnalysis/investorsReportView.js"></script>
