<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
<meta HTTP-EQUIV="expires" CONTENT="0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新华久久贷【官网】—— 您身边可信赖的网贷。</title>
<link href="/Images/favicon.ico" rel="shortcut icon" />
<meta name="description" content="新华久久贷是由安徽新华金融信息服务有限公司搭建的互联网金融服务平台，以稳健的风控和专业的团队，打造“安心、放心、用心、省心”的网络平台，践行新时代下的普惠金融。新华品牌、值得信赖。客服电话:4009999737" />
<meta name="keywords" content="新华久久贷,新华集团,网贷平台,互联网金融,普惠" />
<script src="/Js/jquery1.8.3.js" type="text/javascript"></script>
<script src="/Js/plugins/layer-v1.8.5/layer.min.js" type="text/javascript"></script>
<script src="/Js/jquery.cookie.js" type="text/javascript"></script>
<script src="/Js/superslide.2.1.js" type="text/javascript"></script>
<script src="/Js/pic.js" type="text/javascript"></script>
<script src="/Js/jquery.knob.js" type="text/javascript"></script><!--圆圈百分比-->

<!-- <script type="text/javascript" src="/Js/iealert.js"></script>判断浏览器 -->
<link href="/Css/comment.css" type="text/css" rel="stylesheet" />
<link href="/Css/c-style.css" type="text/css" rel="stylesheet" />
<link href="/Css/j-index.css" type="text/css" rel="stylesheet" />
<!-- <link href="/Css/lrtk.css" type="text/css" rel="stylesheet" />-->
<!-- <link rel="stylesheet" type="text/css" href="/Css/iealert.css"/>判断浏览器 -->
</head>
<style>
			#j-demo {
				background: #FFF;
				overflow:hidden;
				height:200px;
				}
			#j-indemo {
				height: 800%;
				}
			#j-demo1 {
			}
			#j-demo2 {
			}
</style>

<body>
$screen_placeholder
</body>
</html>