<!doctype html>
<html>
<head>
<title>新华久久贷【官网】—— 您身边可信赖的网贷。</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta name="description" content="新华久久贷是由安徽新华金融信息服务有限公司搭建的互联网金融服务平台，以稳健的风控和专业的团队，打造“安心、放心、用心、省心”的网络平台，践行新时代下的普惠金融。新华品牌、值得信赖。客服电话:4009999737" />
<meta name="keywords" content="新华久久贷,新华集团,网贷平台,互联网金融,普惠" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="telephone=no" name="format-detection">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/boot_index.css">
<link rel="stylesheet" type="text/css" href="/css/boot_base.css" />
<link rel="stylesheet" type="text/css" href="/css/c-style.css" />
<link rel="stylesheet" type="text/css" href="/css/information.css" />
<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
</head>
<body>
$screen_placeholder
</body>
</html>