<div class="container" style="overflow-x:hidden;">
    	<div class="list-group">
          <p class="text-center" id="login_bg"><img src="/images/login_gai.png" class="img-responsive"/> </p>

            <div class="row">
			<form action="/login/json/doLogin.json" id="loginform" method="post">
            <div class="col-sm-1 col-xs-1"> </div>
            <div class="col-sm-10 col-xs-10" style="margin-top: 35px;">
                <ul class="list-unstyled" id="gai_login">
                    <li class="clearfix mt10"><img src="/images/denglu_cion1.jpg" class="pull-left ml5" width="30"/> <input type="text" class="pull-left ml5"  placeholder="请输入登录账号" id="userName" name="userName"></li>
                    <li class="clearfix mt10"><img src="/images/denglu_cion2.jpg" class="pull-left ml5" width="30"/> <input type="password" class="pull-left ml5"  placeholder="请输入登录密码" id="passWord" name="passWord"></li>
                    <!--<div id="captcha" class="mt10"></div>-->
                    <div class="verify-wrap" id="verify-wrap"></div>
	  				<div id="msg" style="color:red;"></div>
                    <!--
                    <li class="clearfix mt10">
                    <img src="/images/denglu_cion3.jpg" class="pull-left ml5" width="30"/><input type="text" class="pull-left ml5"  placeholder="请输入验证码" id="securityCode" name="securityCode" style="width:100px">
                    <img id="imgCode" src="/securityCode/json/code.json"  class="vmiddle" style="width:90px;left:1px;position:relative; top:-1px" align="right" onclick="this.src='/securityCode/json/code.json?d='+new Date().getTime()"/>
                    </li>
                    -->
                </ul>
                 <p class="clearfix" style="line-height:12px; margin-bottom:0px"><a href="/login/findpassword" class="pull-right c_666 ml15" style="margin:0px 5px">忘记密码</a><a href="/register/Toregister" class="pull-right c_666" style="margin:0px 0px 0px 10px;">注册</a> </p>
                <p class="text-center 10"><a href="javascript:toLogin();"><img src="/images/denglu_btn.png" class="img-responsive"/> </a> </p>
            </div>
            <div class="col-sm-1 col-xs-1"></div>
            </from>
        </div>
       
	</div> 
</div>
</div>
<!-- 内容区 end -->
<script type="text/javascript" src="/js/plug/slide/jq-slideVerify.js"></script>
<script type="text/javascript" src="/js/plug/jigsaw/jigsaw.min.js"></script>
<script type="text/javascript">
	var liWidth=$("#gai_login li").width();
//滑动验证1
//	var jigsawFlag = false;
//	jigsaw.init({
//	    el: document.getElementById('captcha'),
//	    onSuccess: function() {
//	    	jigsawFlag = true;
//	    	$("#msg").css('color','');
//	      	document.getElementById('msg').innerHTML = '验证成功！'
//	    },
//	    onFail: function () {
//		  	jigsawFlag = false;
//		  	$("#msg").css('color', 'red');
//		    document.getElementById('msg').innerHTML = '请拖动滑块到正确的位置！'
//	  	},
//	    onRefresh: function () {
//		  	jigsawFlag = false;
//		  	$("#msg").css('color', '');
//		    document.getElementById('msg').innerHTML = ''
//	  	},
//	  	//设置canvs宽高
//	  	width:liWidth,height:155
//	  });
//滑动验证2  
var SlideVerifyPlug = window.slideVerifyPlug;
var slideVerify;
$(function(){
	slideVerify = new SlideVerifyPlug('#verify-wrap',{
		wrapWidth:liWidth,//设置 容器的宽度 ，默认为 350 ，也可不用设，你自己css 定义好也可以，插件里面会取一次这个 容器的宽度
		initText:'请按住滑块，拖动到最右边',  //设置  初始的 显示文字
		sucessText:'验证通过',//设置 验证通过 显示的文字
		getSucessState:function(res){
			$('#msg').html('');
			//当验证完成的时候 会 返回 res 值 true，只留了这个应该够用了 
			console.log(res);
		}
	});
});	
	//获取验证码
	function getCode(){													
		document.getElementById("imgCode").src="/securityCode/json/code.json?d="+new Date().getTime();
	}

	//用户名
	function userNameCheck(){
		var userName=$.trim($('#userName').val());
		if(userName==null || userName==""){
			layer.alert('用户名不能为空！');
			return false;
		}
		return true;
	}
	//密码
	function passwordCheck(){
		var password=$.trim($('#passWord').val());
		if(password==null || password==""){
			layer.alert('密码不能为空！');
			return false;
		}
		return true;
	}
	//验证码
	function securityCodeCheck(){
		var securityCode=$.trim($('#securityCode').val());
		if(securityCode==null || securityCode==""){
			layer.alert('验证码不能为空！');
			return false;
		}
		return true;
	}
	//滑动验证1
	 function jigsawCheck(){
	 	var blockLeft = $(".block").css('left');
	 	var sliderContainer_success = $(".sliderContainer").hasClass('sliderContainer_success');
	 	if(parseInt(blockLeft)==0 || !jigsawFlag || !sliderContainer_success){
	 		$("#msg").css('color', 'red');
	 		document.getElementById('msg').innerHTML = '请拖动滑块到正确的位置！'
	 		return false;
	 	}
	 	return jigsawFlag;
	 }
	  //滑动验证2
	 function slideCheck(){
	 	if(!slideVerify.slideFinishState){//当前验证状态
	 		$('#msg').html('请按住滑块，拖动到最右边！');
	 		return false;
	 	}
	 	$('#msg').html('');
		return true;
	 }
	//校验
	function check(){
		if(userNameCheck() && passwordCheck() && slideCheck()){
			return true;
		}
		return false;
	}
	//登录
	function toLogin(){
		if(check()){
			$.ajax({
			     type: 'POST',
			     url: '/login/json/doLogin.json' ,
			     dataType:'json',
			    data: $('#loginform').serialize(),
			    success: function(data){
			    	 if(data.success){
			    		 window.location.href="/index/index";
			    	 }else{
			    		 //getCode();
			    		 //$(".refreshIcon").click();//滑动验证1
		    		 	 slideVerify.resetVerify();//滑动验证2重置 插件 回到初始状态 
			    		 layer.alert(data.message); 
			    	 }	    	
			    }
			});
		}	
	}

	
</script>